.challengeBoxContainer {
  height: 100%;
  background-color: var(--white);
  border-radius: 5%;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05); /* Efeito de profundidade */
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challengeNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

/* Imagem + Texto */
.challengeNotActive p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  max-width: 70%; /* Texto fica mais centralizado, quebra linha */
  line-height: 1.5rem;
  font-size: 1.25rem;
}

.challengeNotActive p img {
  margin-bottom: 1.2rem;
}

.challengeActive {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.challengeActive header {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1.5rem;
  padding: 0 2rem 1.4rem;
  border-bottom: solid 1px var(--gray-line);
}

.challengeActive main {
  flex: 1; /* Main ocupa altura maxima possível no espaço*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challengeActive main strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
  margin: 1.5rem 0 1rem;
}

.challengeActive main p {
  line-height: 1.5;
}

.challengeActive footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.challengeActive footer button {
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;

  transition: filter 0.2s;
}

.challengeActive footer button.challengeFailedButton {
  background-color: var(--red);
}

.challengeActive footer button.challengeSucceededButton {
  background-color: var(--green);
}

.challengeActive footer button:hover {
  filter: brightness(0.9); /* 90 por cento de brilho*/
}
