.mainContainer {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* border: red solid 2px; */
  justify-content: center;
  /* gap: 1.2rem; */
}

/* Container tabela */
.mainContainer > div {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* alinhar verticalmente */
  /* border: red solid 2px; */
  /* gap: 1.5rem; */
}

/* Tabela */
.mainContainer > div > div {
  width: 100%;
  display: flex;
  /* border: solid red 2px; */
}

.mainContainer > div > div > p {
  font-size: 0.875rem;
  font-weight: 700;
  opacity: 0.5;
  margin-right: 1rem;
}

/* USUARIO  */
.mainContainer > div > div > p:nth-child(2) {
  margin-left: 0.7rem;
}

/* Desafios */
.mainContainer > div > div > p:nth-child(3) {
  margin-left: 25.8rem;
}

/* Desafios */
.mainContainer > div > div > p:nth-child(4) {
  margin-left: 6.2rem;
}

/* Parte de baixo da tabela - card container */
.cardContainer {
  display: flex;
  align-items: center;
  /* border: solid red 2px; */
  /* background-color: white; */
}

/* Numero */
.cardContainer > div:first-child {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text);

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 5rem;
  margin-right: 0.3rem;
  height: 100%;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.cardContainer > div:last-child {
  height: 6rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.profile {
  margin-right: 15.94rem;
}

.cardContainer p {
  /* display: block; */
  /* border: solid red 2px; */
  margin-right: 4rem;
}

.cardContainer p:last-child {
  margin-right: 5rem;
}

.cardContainer span {
  font-weight: 500;
  font-size: 1rem;
  color: var(--blue);
}
