/* Estilos de classes que vamos ter na pagina home(index.tsx) */

.container {
  height: 100vh; /* Container ocupa todo o view height*/
  max-width: 992px;
  padding: 2.5rem 2rem;
  margin: 0 auto; /* Alinha tudo ao centro */
  display: flex;
  flex-direction: column; /*Container contem todos os componentes da nossa aplicação, utiliza-se flex-direction: colum para colocarmos um abaixo do outro ; */
}

.container section {
  margin-top: 3.5rem; /* Eu coloquei ***** */
  flex: 1; /* forçar section ocupar todo container  */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Definindo duas colunas para section que ocupam o mesmo tamanho horizontal*/
  gap: 6.25rem; /* Espaçamento entre as colunas */
  align-content: center; /* Alinha todo conteudo do grid verticalmente em relação ao container*/
}

.leftContainer {
  min-width: 19rem;
}

/* Adicionei por conta da sidebar */
.mainContainer {
  display: grid;
  grid-template-columns: 0 auto;
  gap: 5rem;
}

.leaderboardContainer {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* border: red solid 2px; */
  justify-content: center;
  gap: 1.2rem;
}

.leaderboardContainer strong {
  color: var(--title);
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.88rem;
}

/* Container tabela */
.leaderboardContainer > div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* alinhar verticalmente */
  /* border: red solid 2px; */
  /* gap: 1.5rem; */
}

/* Tabela */
.leaderboardContainer > div > div {
  width: 100%;
  display: flex;
  /* border: solid red 2px; */
}

.tableHead {
  margin-bottom: 1.5rem;
}

.leaderboardContainer > div > div > p {
  font-size: 0.875rem;
  font-weight: 700;
  opacity: 0.5;
  margin-right: 1rem;
}

/* USUARIO  */
.leaderboardContainer > div > div > p:nth-child(2) {
  margin-left: 1.7rem; /* */
}

/* Desafios */
.leaderboardContainer > div > div > p:nth-child(3) {
  margin-left: 25.5rem;
}

/* Experiencia */
.leaderboardContainer > div > div > p:nth-child(4) {
  margin-left: 4.5rem;
}
